<template name="notes">
    <link href="red.css" rel="stylesheet" type="text/css" />
    <script>
        $(function() {
            $('textarea#noteDetails').editable({
                theme:'red',
                inlineMode: false,
                placeholder: 'Note details...',
                colors: [
                    '#15E67F', '#E3DE8C', '#D8A076', '#D83762', '#76B6D8', 'REMOVE',
                    '#1C7A90', '#249CB8', '#4ABED9', '#FBD75B', '#FBE571', '#FFFFFF'
                ]
            })

        });


    </script>
    <div class="jumbotron" style="padding: 20px; height: 100%;">
        <div>

            <a href="#" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-tag"></span>Add tag</a>

            <a href="#" class="btn btn-sm btn-warning pull-right"><span class="glyphicon glyphicon-share"></span>Share</a>

        </div>

        <!--below code for create tag-->

        <br/>

        <div id="parentTag">
        <span class="tag label label-default" ID="childTag">
          <span>Example Tag</span>
          <a><i class="remove glyphicon glyphicon-remove" onClick="removeElement('parentTag','childTag');"></i></a>
        </span>
        </div>



        <hr/>

        <div>
        <span>
            <label class="control-label" style="font-size: 12px;color: cornflowerblue;">Created:</label>
            <label class="control-label" style="font-size: 11px; color: grey;">24 Mar 2015 11:10 AM</label>
        </span>
        <span class="pull-right">
             <label class="control-label" style="font-size: 12px; color: cornflowerblue;">Updated:</label>
            <label class="control-label" style="font-size: 11px; color: grey;">25 Mar 2015 12:16 PM</label>
        </span>
        </div>





        <!--code for textEditor-->



        <input class="form-control" id="noteTitle" type="text" placeholder="Note title">



        <br/>



        <div>
            <textarea id="noteDetails" class="form-control custom-control" rows="15" style="overflow-y: scroll; width: 100%;"></textarea>

            <!--<span class="input-group-addon btn btn-primary">Save</span>-->
        </div>
        <br/>
        <a href="#" class="btn btn-sm btn-success btnNoteSave"><span class="glyphicon glyphicon-save"></span>Save</a>

        <!--below code for addTag on button click-->
        <!--<form>-->

        <!--<input type="text" name="element">-->

        <!--<input type="button" value="Add" onclick="add(element.value)">-->

        <!--<span id="fooBar"> </span>-->

        <!--</form>-->

    </div>

</template>